  #myMeme > img { 
    width: 100%; 
  } 
    
  #myMeme > h2 { 
    position: absolute; 
    width: 80%; 
    text-align: center; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 40px 5px; 
    text-wrap: wrap;
    padding: 0; 
    font-family: impact, sans-serif;  
    text-transform: uppercase; 
    color: white; 
    letter-spacing: 1px; 
    text-shadow: 2px 2px 0 #000; 
  } 
  @media (min-width: 450px) {
    #myMeme > h2 {
        font-size: 1.25em; /* small screen size */
    }
}
  @media (min-width: 640px) {
    #myMeme > h2 {
        font-size: 1.75em; /* Medium screen size */
    }
}

@media (min-width: 768px) {
  #myMeme > h2 {
      font-size: 2em; /* Medium screen size */
  }
}
@media (min-width: 1024px) {
  #myMeme > h2 {
        font-size: 2.75em; /* Large screen size */
    }
}
#myMeme > .bottom { 
    bottom: 0; 
  } 
    
  #myMeme > .top { 
    top: 0; 
  } 
    
  form { 
    padding-top: 25px; 
    text-align: center; 
  }

  button {
    margin: 0 5px 0 5px;
    text-align: center;
    padding-right: 10px

  }
